@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* ======= GENERAL ==================================== */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: black;
  background-image: url(/img/people-at-concert-1105666.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======= DRUM PADS ==================================== */

.drum_pads {
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 20px;
  display: inline-table;
  height: 550px;
  margin: 20px;
  padding: 20px;
  position: center;
  width: 610px;
}

.drum_pad {

  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
  display: inline-table;
  margin: 10px;
  border: 1px solid rgb(255, 94, 0);
  height: 170px;
  width: 170px;
  color: rgb(212, 187, 133);
  text-align: center;
  font-size: 5rem;
  border-radius: 20px;
  transition: all .1s;
}

.drum_pad:hover {
  border: 1px solid rgb(255, 0, 0);
}

.active {
  transform: scale(.9);
  box-shadow: -4px 4px 25px 0px rgba(255,0,0,0.97);
  color: aliceblue;
}

.drum_description {
  font-size: 1rem;
}

.drum_description::before {
  content: '_';
}
