@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* ======= GENERAL ==================================== */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: black;
  background-image: url(/img/people-at-concert-1105666.jpg);
  background-repeat:no-repeat;
  background-size:200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======= DRUM PADS ==================================== */

.drum_pads {
  background-color: rgba(0, 0, 0, 0.185);
  border-radius: 20px;
  display: inline-table;
  height: 550px;
  margin: 20px;
  padding: 20px;
  position: center;
  width: 610px;
}

.drum_pad {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 20px;
  border: 1px solid rgb(255, 94, 0);
  color: rgb(212, 187, 133);
  display: inline-flex;
  font-size: 5rem;
  height: 170px;
  justify-content: center;
  margin: 10px;
  text-align: center;
  transition: all .1s;
  width: 170px;
}

.drum_pad:hover {
  border: 1px solid rgb(255, 0, 0);
}

.active {
  transform: scale(.9);
  box-shadow: -4px 4px 25px 0px rgba(255,0,0,0.97);
  color: aliceblue;
}

.drum_description {
  font-size: 1rem;
  position: relative;
}

.drum_description::before {

  content: '#';
}


/* ======= MEDIA QUERIES ==================================== */

@media screen and (max-width: 620px) {

  .drum_pads {
    height: 275px;
    width: 65vw;
  }

  .drum_pad {
    height: 85px;
    width: 85px;
    font-size: 1rem;
  }

  kbd {
    display: none;
  }

}

@media screen and (max-height: 620px) {

  .drum_pads {
    margin: 0;
    height: 90vh;
    width: 90vw;
    display :table;
    flex-direction: row;
    justify-content:space-around;
  }

  .drum_pad {
    height: 20vh;
    font-size: 1rem;
    margin: 10px;
  }

  kbd {
    display: none;
  }

}